body {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    color: white;
    background-color: black;
}

h1,
p,
button {
    font-family: inherit;
    font-weight: inherit;
    font-size: 32px;
    line-height: 44px;
    display: block;
    text-align: center;
}


@media (max-width: 576px) {
    h1,
    p,
    button {
        font-size: 25px;
        line-height: 30px;
    }
}

.container {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: fit-content;
    height: fit-content;
}

.display {
    padding: 30px 165px;
    font-size: 50px;
    color: #4191FF;
    border: 1px solid #4191FF;
    border-radius: 20px;
}

.standard {
    padding: 30px 165px;
    color: white;
    background-color: #4191FF;
    border: 1px solid #4191FF;
    border-radius: 20px;
    cursor: pointer;
}

.reset {
    padding: 30px 165px;
    color: white;
    background-color: #D45366;
    border: 1px solid #D45366;
    border-radius: 20px;
    cursor: pointer;
}

.standard:hover,
.reset:hover {
    opacity: 0.8;
    border-color: white;
}

@media (max-width: 576px) {
    .display,
    .standard,
    .reset {
        width: 100%;
        padding: 20px 100px;
        border-radius: 10px;
    }
}