body {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    color: white;
    background-color: black;
}

h1,
p,
button {
    font-size: 32px;
    line-height: 44px;
    display: block;
    text-align: center;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: fit-content;
    height: fit-content;
}

.display {
    font-size: 50px;
    color: #4191FF;
}

button {
    padding: 30px 165px;
    color: white;
    background-color: #4191FF;
    border: 1px solid #4191FF;
    border-radius: 20px;
}

@media (max-width: 576px) {
    h1,
    p,
    button {
        font-size: 25px;
        line-height: 30px;
    }
    
    button {
        width: 100%;
        padding: 20px 100px;
        border-radius: 10px;
    }


}