body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aquamarine;
    background-color: black;
}

h1,
p {
    display: block;
    text-align: center;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: fit-content;
    height: fit-content;
}

.display {
    font-size: 50px;
    color: red;
}

button {
    padding: 20px 40px;
    font-size: 32px;
    line-height: 40px;
    color: white;
    background-color: green;
    border: 1px solid green;
    border-radius: 5px;
}